:root{
    --clr-uniqe: #05b3ff;
    --clr-uniqe2: #720070e1;
    --clr--light-gary: #c4c4c4;
    --clr--dark-gary: #909DA1;
    --clr--darker-gary: #6d7679;
    --clr--light-black: #181818;
    --clr--black: #000000;
    --clr-white: #ffffff;
    --clr-info: #25D366;
    --font-size0: 1rem;
    --font-size1: 1.2rem;
    --font-size2: 1.5rem;
    --font-size3: 2rem;
    --font-size4: 2.5rem;
    --font-size5: 3rem;
    --font-size6: 3.5rem;
    --font-size7: 4rem;
    --background-color: #eeeeee;
    --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(42,683,307)'%3E%3Cstop offset='0' stop-color='%237A88A8'/%3E%3Cstop offset='1' stop-color='%2300020A'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='600' height='500' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.16'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    --background-image1: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1080' height='596' preserveAspectRatio='none' viewBox='0 0 1080 596'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath9168%26quot%3b)' fill='none'%3e%3crect width='1080' height='596' x='0' y='0' fill='url(%23SvgjsLinearGradient9169)'%3e%3c/rect%3e%3ccircle r='25.875' cx='1020.89' cy='390.91' fill='url(%23SvgjsLinearGradient9170)'%3e%3c/circle%3e%3ccircle r='38.5' cx='295.46' cy='228.04' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='23.965' cx='126.54' cy='375.97' fill='url(%23SvgjsLinearGradient9171)'%3e%3c/circle%3e%3ccircle r='23.24' cx='244.7' cy='42.74' fill='url(%23SvgjsLinearGradient9172)'%3e%3c/circle%3e%3ccircle r='46.02' cx='524.26' cy='207.76' fill='url(%23SvgjsLinearGradient9173)'%3e%3c/circle%3e%3ccircle r='18.8' cx='460.79' cy='325.81' fill='url(%23SvgjsLinearGradient9174)'%3e%3c/circle%3e%3ccircle r='18.005' cx='80.64' cy='456.34' fill='url(%23SvgjsLinearGradient9175)'%3e%3c/circle%3e%3ccircle r='17.755' cx='453.02' cy='441.98' fill='url(%23SvgjsLinearGradient9176)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath9168'%3e%3crect width='1080' height='596' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='11.2%25' y1='-20.3%25' x2='88.8%25' y2='120.3%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient9169'%3e%3cstop stop-color='rgba(133%2c 133%2c 133%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(163%2c 163%2c 163%2c 1)' offset='0.43'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='969.14' y1='390.91' x2='1072.6399999999999' y2='390.91' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient9170'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='78.61000000000001' y1='375.97' x2='174.47000000000003' y2='375.97' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient9171'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='198.22' y1='42.74' x2='291.18' y2='42.74' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient9172'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='432.21999999999997' y1='207.76' x2='616.3' y2='207.76' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient9173'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='423.19' y1='325.81' x2='498.39' y2='325.81' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient9174'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='44.63' y1='456.34' x2='116.65' y2='456.34' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient9175'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='417.51' y1='441.98' x2='488.53' y2='441.98' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient9176'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    --border: 2px solid #6d7679;
    --border-radius10: 0.625rem;
    --border-radius5: 0.312rem;
    --box-shadow:
  0px 0px 6.4px rgba(0, 0, 0, 0.07),
  0px 0px 10.5px rgba(0, 0, 0, 0.052),
  0px 0px 13.3px rgba(0, 0, 0, 0.044),
  0px 0px 15.4px rgba(0, 0, 0, 0.038),
  0px 0px 17.5px rgba(0, 0, 0, 0.032),
  0px 0px 21.2px rgba(0, 0, 0, 0.026),
  0px 0px 33px rgba(0, 0, 0, 0.018);
    --gap: 1rem;

}

*{
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--background-color);
    color: var(--clr--black);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    }

    /*SHOW CASE STYLING SRTAT FROM HERE*/

    #show-case{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin:0;
        padding: 1rem 5rem 1rem 1rem;
        position: relative;
        color: white;
        background-image: url(/assets/images/bg-image.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .intro-container img{
        position: absolute;
        float: left;
        top: 10%;
        left: 10%;
        width: 400px;
        height: 80%;
        margin: auto;
        border-radius: 14px 0px; 
        border: #ffffff 10px solid;
    }


    .intro-container h1{
        font-size: var(--font-size7);
        color: #05b3ff;
    }
    .intro-container h2{
        display: inline;
        padding: 0 1rem;
        margin-top: -2rem;
        font-size: var(--font-size2);
        font-weight: 400;
        color: #05b3ff;
        border-width: 3px;
        border-style: solid;
         border-image: 
        linear-gradient(
        to bottom, 
        rgb(136, 0, 73), 
        rgba(0, 200, 255, 0.104)
        ) 1 100%;
    }

    .intro-container h3{
        background-color: #ffffff;
        color: #05b3ff;
        max-width: 600px;
        padding: 1.5rem;
        margin-top: 4rem;
        font-size: var(--font-size0);
        font-weight: 500;
        text-align: justify;
        border-radius: var(--border-radius5);
    }

/* SECTION OF THE WORK-EXPERIENCE STYLIE START FROM HERE*/
.container{
    padding: 1rem 3%;
    min-height: 100vh;

}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    font-size: var(--font-size34);
}

.container .work-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;

    
}
.work{
    background-color: var(--background-color);
    color: var(--clr--light-black);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius10);
    border: 5px solid var(--clr-blue);
    padding: 1rem;
    text-align: center;
    min-height: 100vh;
    height: fit-content;
}
.work ul li{
    list-style: none;
}
.work ul li::before {
    content: "\2022";
    color: var(--clr-uniqe);
    display: inline-block; 
    width: 0.5em;
    margin-left: 0.5em;
  }

.container .work-container .work h3{
    color: var(--clr--black);
    font-size: var(--font-size1);
    padding: 0.5em 0 1.5em 0;

}

.container .work-container .work h4{
    font-size: 12px;
    margin-top: -8px;
    padding: 0 0 1rem 0;
    color: var(--clr--light-black);
}

.container .work-container .work h5{
    font-size: 12px;
    color: var(--clr--light-black);
    border-radius: var(--border-radius5);
    padding: 0.5rem 0 1.2rem 0;
}

.container .work-container .work span{
    color: var(--clr-uniqe);
}

.container .work-container .work span::before {
    content: "";
    background-color: var(--clr-uniqe);
    display: inline-block; 
    width: 30%;
    height: 3px;
    top: 0;
    left: 0;
    margin-left: 10px;
    border-radius: var(--border-radius5);
    opacity: 6;
  }
  .container .work-container .work span::after {
    content: "";
    background-color: var(--clr-uniqe);
    display: inline-block; 
    width: 30%;
    height: 3px;
    top: 0;
    left: 0;
    margin-right: 10px;
    border-radius: var(--border-radius5);
  }


.container .work-container .work ul{
    margin-top: 1rem;
    padding: 0 1rem 0 0;
    text-align: right;
}

.container .work-container .work ul li{
    line-height: 2.5;
}

.container .work-container .work .tasks{
    background-color: var(--clr-uniqe);
    border-radius: var(--border-radius5);
    color: var(--clr-white);
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin: 10px 0 10px 0;
}

/* SECTION OF THE INFORMATIONS STYLIE START FROM HERE*/
.wrapper{
    padding: 1rem 3%;
    height: calc(100% - 10%);
    background-color: #162029;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.wrapper .heading-info{
    text-align: center;
    padding-bottom: 20px;
    color: var(--clr-white);
    font-size: var(--font-size2);
}

.wrapper .more-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem; 
}

.wrapper .more-info .info{
    background-color: var(--background-color);
    color: var(--clr--light-black);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius5);
    text-align: right;
    padding: 1rem;
    min-height: 100vh;
    border: 3px solid var(--clr--light-gary);
    height: fit-content;
}

.wrapper .more-info .info h3::before {
    content: "";
    background-color: var(--clr-uniqe2);
    display: inline-block; 
    width: 20%;
    height: 3px;
    top: 0;
    left: 0;
    margin-left: 10px;
    border-radius: var(--border-radius5);
    opacity: 6;
  }
  .wrapper .more-info .info h3::after {
    content: "";
    background-color: var(--clr-uniqe2);
    display: inline-block; 
    width: 20%;
    height: 3px;
    top: 0;
    left: 0;
    margin-right: 10px;
    border-radius: var(--border-radius5);
  }



.wrapper .more-info .info .educations h3{
    margin-bottom: 1.5rem;
    text-align: center;
}

.wrapper .more-info .info .educations{
    display: flex;
    flex-direction: column;
    line-height: 2;
    gap: 1.5rem;
}

.wrapper .more-info .info .educations .column-inside{
    display: flex;
    flex-direction: column;
}

.wrapper .more-info .info .educations .column-inside a{
    color: var(--clr-uniqe);
}


.wrapper .more-info .info .three-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
    color: var(--clr--light-black);

}


.wrapper .more-info .info .three-column .share-divs{
    padding: 1rem;
    border-radius: var(--border-radius10);
    border-radius: 7px;
    text-align: center;
    width: 100%;
    margin: auto;
    box-shadow: var(--box-shadow);
}

.wrapper .more-info .info .three-column .share-divs p{
    text-align: right;
    line-height: 2;
    margin: 1rem 0.5rem 0.5rem 0;
}


.wrapper .more-info .info .three-column .skils{
    background-color: var(--clr-blue);
}

.wrapper .more-info .info .three-column .hopies{
    background-color: var(--clr-light-purple);

}

.wrapper .more-info .info .three-column .data{
    background-color: var(--clr-lightgreen);

}

.wrapper .more-info .info .three-column .data .fa-square-whatsapp{
    font-size: 3rem;
    margin-right: 2rem;
    color: #25D366;
    align-items: center;
    cursor: pointer;
    position: absolute;
    margin-top: -0.5rem;
}


footer{
    text-align: center;
    padding: 1rem;

}

@media  (max-width: 30em) { 

    #show-case{
        background-image: url(/assets/images/bg-phone.svg);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 0;
        text-align: center;
    }

    .intro-container img{
        border-radius: 50%;
        top: 15%;
        right: 50%;
        width: 250px;
        height: 250px;
        margin: auto;
        transform: translate(50%, 50%);
        border: #05b4ff45 10px solid;
    }

    .intro-container h1{
        font-size: var(--font-size3);
        margin-top: 2em;

    }

    .intro-container h3{
        position: absolute;
        bottom: 5%;
        left: 5%;
        right: 5%;
        margin-top: 22em;
        opacity: 0.9;
        width: calc(100% - 40px);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    }






 }
